
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#hero{
    width: 100%;
    height: 100vh;
    background-image: url(./Images/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 30px;
    margin-left: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user button{
    background: transparent;
    padding: 8px 15px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.container{
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{
    max-width: 550px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info h1{
    font-size: 60px;
    letter-spacing: 10px;
}

.info p{
    color: #f0eef1;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;
}
.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size: 12px;
}

::placeholder{
    color: #ccc;
}

.slider{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: 05s;
}

#left{
    transform: rotate(180deg);
}

#left , #right{
    width: 30px;
    cursor: pointer;
}

.preview{
    display: flex;
    align-items: center;
    margin: 0 20px;
    transition: 0.5s;
}

.thumbnail{
    width: 60px;
    margin: 0 3px;
    cursor: pointer;
    opacity: 0.4;
}

.preview .active{
    border: 1px solid #fff;
    display: block;
    width: 100px;
    opacity: 1;
}
